%btn {
  font-weight: $font-weight--bold;
  display: block;
  width: 100%;
  margin: .65em auto;
  color: $color-text-light;
  text-transform: uppercase;
  border: none;
  border-radius: $br--default;
  padding: 0.95em;
  font-size: 0.85em;
  @include mq(medium) {
    margin: 0 1.3em;
  }
}

%grid-theme-styles {
  font-weight: $font-weight--bold;
  font-size: 16px;
  text-align: left;
  padding: 0.85em;
  display: block;
  border-radius: $br--default;
  margin: 0.35em auto;
  @include mq(medium){
    text-align: center;
    margin: 0 auto;
  }
}

%image {
  display: block;
  margin: 0 auto;
}

%nav-item {
  display: block;
  list-style: none;
  text-align: center;

  a {
    width: 100%;
    padding: 1em;
    display: block;
    text-decoration: none;
    border-radius: $br--default;
    @include mq(medium){
      margin-right: 1em;
      padding: .5em;
    }

    &:hover {
      color: $color-text-light;
      background-color: $color-primary;
    }
  }
}

%link {
  color: $color-link-default;
  text-decoration: none;
  font-weight: $font-weight--bold;
}

%h-primary {
  margin-left: 0.6em;
  line-height: 1;
  color: $color-primary;
  font-weight: $font-weight--ultra-bold;
}

%h-secondary {
  margin: 5.4em 0 1.3em;
  font-weight: $font-weight--light;
}
