
//descriptive color variables

$white            : #fff;
$black            : #000;
$grey             : #818181;
$bright-grey      : #384047;
$viking           : #58e1c1;
$malibu           : #51ddfc;
$emerald          : #63cc82;
$sunglo           : #e4757a;
$coral            : #fd7856;
$purple-majesty   : #927bc1;

$riptide          : #80e8d1;
$shakespeare      : #3fabca;
$anakiwa          : #7ee6fd;
$french-lilac     : #deb2ee;
$vista-blue       : #88d9a0;
$sea-pink         : #ec9fa3;
$vivid-tangerine  : #fd9f85;
/*
$g-colors {
  3: $french-lilac,
  4: $anakiwa,
  5: $vista-blue,
  6: $shakespeare,
  7: $sea-pink,
  8: $vivid-tangerine,
  12: $riptide

*/
//functional color variables

$color-primary      : $viking;
$color-secondary    : $malibu;

$color-text-light   : $white;
$color-text-base    : $grey;
$color-text-dark    : $bright-grey;

$color-link-default : $malibu;
$color-link-visited : $bright-grey;

$color-shadow       : rgba($black, .8);
$color-body         : $white;

// text

$base__font-size  : 18px;
$base__line       : 28px;
$letter-space     : 1px;

// font stacks

$font-url--google         : 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary     : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary   : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// font weights

$font-weight--thin        : 100;
$font-weight--light       : 300;
$font-weight--medium      : 400;
$font-weight--bold        : 700;
$font-weight--extra-bold  : 900;

// border radius

$br--default      : .3em;
$br--round        : 50%;

// breakpoints

$brkpoint--sm     : 1px;
$brkpoint--md     : 768px;

//grid

$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1050px;
