// font stacks

$font-url--google       : 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary   : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// font weights

$font-weight--thin        : 100;
$font-weight--light       : 300;
$font-weight--medium      : 400;
$font-weight--bold        : 700;
$font-weight--ultra-bold  : 900;

//descriptive color variables

$white            : #fff;
$black            : #000;
$grey             : #818181;
$bright-grey      : #384047;
$viking           : #58e1c1;
$malibu           : #51ddfc;
$emerald          : #63cc82;
$sunglo           : #e4757a;
$coral            : #fd7856;
$purple-majesty   : #927bc1;
$french-lilac     : #deb2ee;

$ui-colors: (
  default : $malibu,
  success : $emerald,
  error   : $sunglo,
  warning : $coral,
  info    : $purple-majesty
);

$grid-colors: (
  3: $french-lilac,
  4: lighten($malibu, 10%),
  5: lighten($emerald, 10%),
  6: darken($malibu, 25%),
  7: lighten($sunglo, 10%),
  8: lighten($coral, 10%),
  12: lighten($viking, 10%)
);

//functional color variables

$color-primary      : $viking;
$color-secondary    : $malibu;

$color-text-light   : $white;
$color-text-base    : $grey;
$color-text-dark    : $bright-grey;

$color-link-default : $malibu;
$color-link-visited : $bright-grey;

$color-image-border : lighten($grey, 30%);
$color-body         : $white;

// text

$base__font-size  : 18px;
$base__line       : 28px;



// border radius

$br--default      : .3em;
$br--round        : 50%;

// breakpoints

$brkpoint--sm     : 1px;
$brkpoint--md     : 768px;

//grid

$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1400px;
