.container {
  margin: 1.3em auto 5.4em;
  width: 85%;
  @include mq(medium) {
    width: 75%;
  }
}

.grid {
  @include e(row) {
    margin-top: 2.6em;
    width: 100%;
    @include mq(medium) {
      @include flex($disp:flex, $just: space-between);
      align-items: center;
    }
  }
  @include e(col) {
    @for $i from 1 through 12 {
      &--#{$i} {
        @extend %grid-block;
      }
      @include mq(medium) {
        @include g-columns;
      }
    }
    @each $number, $color in $grid-colors {
      &--#{$number}.theme__colors {
        background-color: $color;
        font-weight: $font-weight--bold;
        font-size: 16px;
        padding: 0.85em;
      }
    }
  }
}
