.container {
  margin: 1.3em auto 5.4em;
  width: 85%;
  @include mq(medium) {
    width: 75%;
  }
}

.grid {
  @include e(row) {
    margin-top: 2.6em;
    width: 100%;
    @include mq(medium) {
      @include flex($disp:flex, $just: space-between);
    }
  }
  @include e(col) {
    &--9 {
      @include mq(medium) {
        @include flex($disp: flex, $flow: column, $just: space-around);
        align-items: center;
      }
    }

    &--12 {
      @include mq(medium) {
        @include flex($disp: flex, $flow: row, $just: space-around);
        align-items: center;
      }
    }
    @include bg-colors($grid-colors, ".theme__colors") {
      @extend %grid-theme-styles;
    }
    @include mq(medium) {
      @include g-columns;
    }
  }
}
