.img {
  @include m(logo) {
    display: block;
    margin: 0 auto;
  }
  @include m(avatar){
    display: block;
    margin:  auto;
    align-self: center;
  }
  @include m(frame){
    margin: auto;
    width: 100%;
    padding: .75em;
    border: solid $grey 1px;
    @include mq(medium){
      width: 85%;
    }
  }
}
