.img {
  @include m(logo) {
    @extend %image;
  }
  @include m(avatar){
    @extend %image;
    align-self: center;
  }
  @include m(frame){
    @extend %image;
    width: 100%;
    padding: .75em;
    border: solid $color-image-border 1px;
    @include mq(medium){
      width: 85%;
    }
  }
}
