.nav {
  width: 100%;
  margin: 2.6em auto 5.4em;
  padding: 0;
  @include e(item) {
    @extend %nav-item;
  }
  @include mq(medium) {
     @include flex($disp:flex, $just: space-between);
     margin: auto;
  }
}
