* {
  color: $color-text-base;
  font-size: $base__font-size;
  font-family: $font-family--primary;
}

.card {
  line-height: ($base__line/$base__font-size);
}

.headline {
  @include m(secondary) {
    @extend %h-secondary;
    @include mq(medium) {
      margin-top: 2.6em;
    }
  }
  @include m(primary) {
    @extend %h-primary;
  }
}

.link {
  @extend %link;
}

.blockquote {
  font-size: 1.35em;
  padding-left: 1.5em;
  font-style: italic;
  border-left: solid $color-primary 0.4em;
  border-radius: $br--default;
  line-height: 1.2;
  font-weight: $font-weight--medium;
}
